<p id="notice"><%= notice %></p>

<p>
  <strong>Improviser:</strong>
  <%= @play.improviser %>
</p>

<p>
  <strong>Show:</strong>
  <%= @play.show %>
</p>

<%= link_to 'Edit', edit_play_path(@play) %> |
<%= link_to 'Back', plays_path %>
